*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --orange: #ede9df;
    --winning-blocks: #121a1e;
}

body {
    color: var(--orange);
    font-family: 'Finger Paint', cursive;
}
h1 {
    font-size: 54px;
    text-transform: uppercase;
}

.container {
    padding: 40px;    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:#121a1e;
}

.gameboard {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}
.box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--orange);
    font-size: 90px;
    border-right: 3px solid;
    border-bottom: 3px solid;
}
.box:nth-child(3n) {
    border-right: none;
}
.box:nth-child(6) ~ .box {
    border-bottom: none;
} 
button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: #333;
    border-color: var(--orange);
    font-size: 16px;
    transition: 200ms transform;
    font-weight: 600;
}
button:hover {
    cursor: pointer;
    transform: translateY(-2px);
}

@media screen and (max-width: 768px) {
    
    h1{
        font-size: 31px;
        margin-bottom: 20px;
    }
    .gameboard{
        width: 246px;
    }
    .box{
        height: 82px;
        width: 82px;
        font-size: 75px;
    }
  }